<div class="">
  <h3>33333</h3>
  <h3>{{name}}</h3>
  <p>{{content}}</p>
  <div class="">
    <h3>父组件传入子组件的值：</h3>
    <div class="">childValue: {{childValue}}</div>
  </div>
  <h3>子组件</h3>
  <div class="">
    <h4>子组件的change事件：{{changeMsg}}</h4>
  </div>
  <div class="">
    <h4>子组件的buttonClick事件：{{buttonChickMsg}}</h4>
  </div>
  <!-- 测试props, 和 emit 分开, -vue的理解 -->
  <app-child1 [count]="childValue" [name]="childName" (countChange)="countChange($event)" (buttonChick)="childButton($event)"></app-child1>
  <!-- 双向绑定：值和事件, count & countChange -->
  <app-child1 [(count)]="childValue" [name]="childName"  (buttonChick)="childButton($event)"></app-child1>
</div>
